.banner {
  grid-area: banner;
  width: 100%;
  background-image: linear-gradient(black 50%, white 50%);
  height: 100vh;
  /* border: 1px solid red; */

  .banner-section {
    background-image: url("https://images.contentstack.io/v3/assets/bltc5a09bf374882538/blt66f4449fa1b24162/5f1a2be22ac1577a44a8bfd7/hero-carousel-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // width: 95%;
    margin: auto;
  }
  .banner-head {
    position: relative;
    text-align: center;
    padding: 125px 0 25px;
    color: #fff;
    width: 60%;
    margin: auto;
    // z-index: 2;

    h1 {
      font-size: 50px;
      line-height: 48px;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: center;
    }
  }
}
