.navigation-sec {
  //   border: 1px solid black;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .img-logo {
    border: 1px solid black;
  }
  .navigation-tab {
    ul {
      list-style: none;
      li {
        display: inline;
        margin: 10px;
      }
    }
  }
}
